@model TaiKhoan
@{
    Layout = "_AccountDetail";
}

@*@using DATN_KAHotel_Final.Areas.Admin.Models;
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<ChiTietGiaoDich>*@

@using X.PagedList.Mvc.Core


<div class="container">
    <!--dasboard-wrap-->
    <div class="dasboard-wrap fl-wrap">
        <!-- dashboard-content-->
        <div class="dashboard-content fl-wrap">
            @foreach (var item in ViewBag.lichSuDatPhong)
            {
                <div class="dashboard-list-box fl-wrap">
                    <div class="dashboard-header fl-wrap">
                        <h3>Lịch sử đặt phòng</h3>
                    </div>
                    <!-- dashboard-list end-->
                    <div class="dashboard-list">
                        <div class="dashboard-message">
                            @{
                                var now = DateTime.Now;
                                var batDau = item.BatDau;
                                var soNgay = (batDau - now).TotalDays;
                            }
                            @if(item.TrangThai != "Huỷ bỏ" && soNgay > 3)
                            {
                                <a href="/accountdetail/yeucauhuyphong?id=@item.IdTaiKhoan&idHoaDon=@item.IdHoaDon" id="cancelLink" class="disable"><span class="new-dashboard-item">Huỷ</span></a>
                            }
                            <div class="dashboard-message-avatar">
                                <img style="transform: scale(2);" src="@Url.Content("~/Images/phong/"+item.AnhDaiDienPhong)" alt="">
                            </div>
                            <div class="dashboard-message-text">
                                <h4>@item.HoTen <span></span></h4>
                                <div class="booking-details fl-wrap">
                                    <span class="booking-title">Tên khách sạn :</span> :
                                    <span class="booking-text"><a href="/phong/chitietkhachsan?id=@item.IdKhachSan">@item.TenKhachSan</a></span>
                                </div>
                                <div class="booking-details fl-wrap">
                                    <span class="booking-title">Tên phòng :</span> :
                                    <span class="booking-text"><a href="#">@item.TenPhong</a></span>
                                </div>
                                <div class="booking-details fl-wrap">
                                    <span class="booking-title">Số người :</span>
                                    <span class="booking-text">@item.SoNguoi người</span>
                                </div>
                                <div class="booking-details fl-wrap">
                                    <span class="booking-title">Ngày đặt :</span>
                                    <span class="booking-text">@item.BatDau  - @item.KetThuc</span>
                                </div>
                                <div class="booking-details fl-wrap">
                                    <span class="booking-title">Mail :</span>
                                    <span class="booking-text"><a href="#" target="_top">@item.Email</a></span>
                                </div>
                                <div class="booking-details fl-wrap">
                                    <span class="booking-title">Số điện thoại :</span>
                                    <span class="booking-text"><a href="tel:@item.Sdt" target="_top">@item.Sdt</a></span>
                                </div>
                                <div class="booking-details fl-wrap">
                                    <span class="booking-title">Tồng tiền đã thanh toán :</span>
                                    <span class="booking-text"><a href="#" target="_top">@item.TongTien</a></span>
                                </div>
                                <div class="booking-details fl-wrap">
                                    <span class="booking-title">Phương thức thanh toán :</span>
                                    <span class="booking-text"> <strong class="done-paid">Trả  </strong>  sử dụng VnPay</span>
                                </div>
                                <span class="fw-separator"></span>
                                @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere convallis purus non cursus. Cras metus neque, gravida sodales massa ut. </p>*@
                            </div>
                        </div>
                    </div>
                    <!-- dashboard-list end-->
                </div>
            }
            
            @*@Html.PagedListPager(ViewBag.PagedList, page => Url.Action("LichSuDatPhong", new { id = Model.Id, page }))*@

            <!-- pagination-->
            @*<div class="pagination">
                <a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                <a href="#" class="current-page">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
            </div>*@
        </div>
        <!-- dashboard-list-box end-->
    </div>
    <!-- dasboard-wrap end-->
</div>


<script>
    $(document).ready(function () {
        $('a.disabled').click(function (event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định khi click vào liên kết
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy đối tượng nút Huỷ
        var cancelButton = document.getElementById("cancelLink");

        // Bắt sự kiện click
        cancelButton.addEventListener("click", function (event) {
            // Ngăn chặn hành động mặc định của nút a
            event.preventDefault();

            // Hiển thị cảnh báo
            var confirmation = confirm("Bạn có chắc chắn muốn huỷ phòng?");

            // Nếu người dùng chọn "OK" trong cảnh báo
            if (confirmation) {
                // Chuyển hướng đến đường dẫn trong href của nút a
                window.location.href = cancelButton.href;
            }
        });
    });
</script>

